####################################################################
#            Example configuration for sBTC EKS Setup              #
####################################################################



# AWS configuration
AWS_ACCOUNT_ID="xxxxxxxxxxxx"         # The AWS account ID where resources will be deployed
AWS_REGION="us-east-2"                # AWS region for deployment. Example: "us-east-2"


# Cluster
CLUSTER_NAME="sbtc-cluster"
INSTANCE_TYPE="m5.large"
DESIRED_SIZE="2"
MAX_SIZE="4"

# Enable the different addons
ARGO_CD_ADDON="true"
CALICO_OPERATOR_ADDON="true"
METRICS_SERVER_ADDON="true"
CLUSTER_AUTO_SCALER_ADDON="true"
AWS_LOAD_BALANCER_CONTROLLER_ADDON="false"
VPC_CNI_ADDON="true"
CORE_DNS_ADDON="true"
KUBE_PROXY_ADDON="true"
EBS_DRIVER_ADDON="true"
CLOUD_WATCH_ADDON="true"


# Comma seperated list of ecr repo names. Must be lower case, no underscores, and no extra spaces
ECR_REPOS="stacks,stacks-api,stacks-explorer,bitcoin,bitcoin-miner-sidecar,electrs,nakamoto-signer,sbtc-signer,blocklist-client,sponsor-api,emily,sbtc-bridge-frontend,sbtc-relay-server"
