**/.DS_Store
**/target
**.log
**/node_modules
**/package-lock.json
.pnpm-store/**
.vscode/**

## Developer Environment
devenv/**/*.db

## Contracts
contracts/settings/Mainnet.toml
contracts/settings/Testnet.toml
contracts/.cache/**
contracts/history.txt

contracts/logs
contracts/*.log
contracts/npm-debug.log*
contracts/coverage
contracts/*.info
contracts/costs-reports.json
contracts/node_modules
contracts/docs

## Python
__pycache__/
*.py[cod]
*$py.class

docker/data/stacks-node/nakamoto-neon/headers.sqlite.reorg
docker/data/stacks-node/nakamoto-neon/peer.sqlite-shm
docker/data/stacks-node/nakamoto-neon/peer.sqlite-wal
