SIGNER_SIGNER__EVENT_OBSERVER__BIND="0.0.0.0:8801"
SIGNER_SIGNER__PRIVATE_KEY="TODO"
SIGNER_EMILY__ENDPOINTS='{"endpoint":"https://beta.sbtc-emily.com","api_key":"TODO"}'
SIGNER_BITCOIN__RPC_ENDPOINTS="http://TODO@52.209.21.13:18443"
